/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.staging
/.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/tests/Browser/screenshots
.DS_Store
/coverage-report
Datadump.csv
.phpunit.cache
.phpunit.cache/test-results